<div class="header">
    <a ng-href="/#/place" ng-click="removeLocalStorage()"><i class="iconfont">&#xe60b;</i>{{title}}</a>
    <a ng-href="/#/main" ng-hide="!index"><i class="iconfont index">&#xe6c1;</i></a>
    <a ng-click="back()" ng-hide="index"><i class="iconfont index">&#xe65a;</i></a>
    <a ng-href="/#/person"><i class="iconfont person">&#xe611;</i></a>
</div>
<a href="/#/person" class="personHover"><i class="iconfont">&#xe611;</i></a>
<style>
.header {
    display: block;
    height: 1.2rem;
    background-color: #fcfdfd;
    line-height: 1.2rem;
    text-align: center;
    position: relative;
    width: 9.4rem;
    margin: 0.5rem auto 0.5rem auto;
    border-radius: 0.2rem;
}

.header>a,
.header i {
    color: #0ba463;
}

.header:visited {
    color: #0ba463;
}

.index {
    position: absolute;
    left: 0.3rem;
}

.person {
    position: absolute;
    right: 0.3rem;
}

.personHover {
    position: fixed;
    right: 0.3rem;
    top: -1.4rem;
    background-color: #0b9058;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2rem;
    box-shadow: 1px 1px 3px 0px #a4a4a4;
    z-index: 55;
}

.personHover>i {
    color: #fcfdfd;
}


</style>
