<a href="/#/shopcar" class="shopcar">
    <i class="iconfont">&#xe60f;</i>
    <span>{{sum}}</span>
</a>
<style>
	.shopcar {
    position: fixed;
    right: 0.3rem;
    bottom: 1.3rem;
    background-color: #0b9058;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2rem;
    box-shadow: 1px 1px 3px 0px #a4a4a4;
    z-index: 54;
}

.shopcar>i {
    color: #fcfdfd;
    font-size: 0.7rem;
}

.shopcar>span {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fcfdfd;
    border-radius: 50%;
    color: #0b9058;
    font-size: 0.2rem;
    top: -0.1rem;
    right: -0.2rem;
    line-height: 0.5rem;
    text-align: center;
}
</style>