<c-header></c-header>
<div class="shopcarC">
    <span ng-hide="sum==0" ng-click="clear()">全部清空</span>
    <div ng-show="sum==0">购物车还是空的</div>
    <div ng-repeat="(key,value) in shopcar" class="shopcarList">
        <div>
            <div class="T">{{value.name}}</div>
            <div class="B">
                <span class="j" ng-click="de(key,value.amount)">-</span>
                <span>{{value.amount}}</span>
                <span class="j" ng-click="in(key)">+</span>
            </div>
        </div>
        <span>
        	<span ng-click="delete(key)">删除</span>
        </span>
    </div>
</div>
<style>
.shopcarC {
    width: 9.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopcarC>span {
    align-self: flex-end;
    font-size: 0.3rem;
    color: #fcfdfd;
    margin-bottom: 0.2rem;
}

.shopcarC>div {
    color: #fcfdfd;
    align-self: flex-start;
}

.shopcarC>.shopcarList {
    width: 9rem;
    padding: 0 0.2rem;
    margin-bottom: 0.3rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #fcfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0ba463;
}

.shopcarC>.shopcarList>div {
    width: 8.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopcarC>.shopcarList>div>.T {
    display: flex;
    width: inherit;
    height: 1rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.4rem;
}

.shopcarC>.shopcarList>div>.B {
    width: inherit;
    height: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shopcarC>.shopcarList>div>.B>span {
    margin: 0 0.5rem;
    font-size: 0.5rem;
    cursor: pointer;
}

.shopcarC>.shopcarList>div>.B>.j {
    width: 0.8em;
    height: 0.8rem;
    display: flex;
    font-size: 0.4rem;
    justify-content: center;
    align-items: center;
}

.shopcarC>.shopcarList>span {
    height: 2rem;
    width: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px dashed #0ba463;
    padding-left: 0.2rem;
}

.shopcarC>.shopcarList>span>span {
    width: 0.3rem;
    font-size: 0.3rem;
    line-height: 110%;
}
</style>
